.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 7px;
  background: #fff;
  gap: 15px;
}

.choiceLabel {
  display: flex;
  align-items: center;
  gap: 7px;
}

.choice {
  margin: 0;
}

.labelSpan {
  margin-top: 2.5px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}
